{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'frontend/img/bg-img/breadcumb2.jpg' %});">
    <div class="bradcumbContent">
        <p >WELCOME,<span style="font-size: larger; font-weight:bolder; text-transform: capitalize; color: black;" >{{ request.user.username }}</span></p>
        <h2>DASHBOARD</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Elements Area Start ##### -->
<section class="elements-area mt-30 section-padding-100-0">
    <div class="container-fliud">
        <div class="row">
            <div class="col-md-3">
            <div class="col-12">
                {% include 'frontend/dashboard-sidebar.html' %}
            </div>

            <!-- ========== Progress Bars & Accordions ========== -->
           

            <!-- ##### Accordians ##### -->
            

            <!-- ##### Tabs ##### -->
            
            </div>
            <div class="col-md-9">
            <!-- ========== Loaders ========== -->
            <div class="col-12">
                <div class="elements-title text-center mb-70">
                    <h2>ADD SONG </h2>
                </div>
            </div>

            <div class="col-12">
                <!-- Loaders Area Start -->
                <div class="our-skills-area">
                    <div class="row">

                        
                
                        <div class="col-md-11 col-lg-11 py-5 mb-5 bg-light">
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="POST" enctype="multipart/form-data">
                                       
                                        {% include 'frontend/snippet.html' with form=album %}
                                        
                                        <input type="submit" value="Add Album" class="btn btn-secondary">
                                    </form>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
            </div>

            <!-- ========== Milestones ========== -->
           

            
            <!-- ========== Icon Boxes ========== -->

        </div>              
        </div>
    </div>
</section>
<!-- ***** Elements Area End ***** -->
{% endblock %}