{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Albums
{% endblock %}

{% block content %}
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url({% static 'frontend/img/bg-img/breadcumb3.jpg' %});">
        <div class="bradcumbContent">
            <p>The Album</p>
            <h2>{{song.album.album_name}}</h2>
        </div>
    </section>

    <section class="miscellaneous-area section-padding-100-0 mb-5">
        <div class="container">
            <div class="row">
                {% if artist %}
                <div>
                    <div class="thumbnail">
                        <img src="{{artist.image.url}}" alt="">
                        <h2><strong>{{artist.artist_name}}</strong></h2>
                    </div>
                </div>
                {% endif %}
                <div class="col-2"></div>
                <div class="col-sm-6"> 
                    {% if song %}
                    {% for s in song %}
                    <audio preload="auto" controls>
                        <source src="{{s.get_audio}}">
                    </audio>
                    <!-- {% if s.featued_artist %}
                    <h5>{{s.artist}} ft {{s.featued_artist}}</h5><span>{{s.song_name}}</span>
                    {% else %} -->
                    <h5>{{s.artist}}</h5><span>{{s.song_name}}</span>
                    <!-- {% endif %} -->
                    {% endfor %}
                    {% endif %}
                    <!-- <audio preload="auto" controls>
                        <source src="{% static 'frontend/audio/dummy-audio.mp3' %}">
                    </audio>
                    <h5>Mo Bad ft NairaMarley, Lyta</h5><span>Marama</span>
                    <audio preload="auto" controls>
                        <source src="{% static 'frontend/audio/dummy-audio.mp3' %}">
                    </audio>
                    <h5>Mo Bad</h5><span>Ordinary</span>
                    <audio preload="auto" controls>
                        <source src="{% static 'frontend/audio/dummy-audio.mp3' %}">
                    </audio>
                    <h5>Mo Bad ft Davido</h5> <span>Love alone</span>
                    <audio preload="auto" controls>
                        <source src="{% static 'frontend/audio/dummy-audio.mp3' %}">
                    </audio>
                    <h5>Mo Bad</h5> <span>Lone</span>
                    <audio preload="auto" controls>
                        <source src="{% static 'frontend/audio/dummy-audio.mp3' %}">
                    </audio>
                    <h5>Mo Bad</h5> <span>Crazy Love</span>  -->
                </div>
            </div>
        </div>
    </section>
   
    
{% endblock %}